/* Root variables */
:root {
  --main-transition: all 2s linear;
  --fast-transition: all 0.25s ease;
  --main-color: #facc75;
}

/* Global styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-icon {
  margin: auto 0;
  font-size: 1.5em;
  transition: var(--fast-transition);
  cursor: pointer;
}

.nav-icon:hover {
  color: #faa96b;
  transition: var(--fast-transition);
}

/* Header styles */

header {
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  background-color: #ffd380;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

header .title {
  margin: auto;
}

header .menu {
  margin-left: 30px;
}

header .add {
  margin-right: 30px;
}

header .input {
  width: 50vw;
  height: 40px;
  padding: 5px;
}

/* Grid layout */

.main-grid {
  margin: 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Grid item styles */

.grid-item {
  height: 200px;
  background-color: #f2f2f2;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.grid-item .item-content {
  width: 85%;
  grid-column: 1/4;
  grid-row: 1/2;
  margin: auto;
  padding: 1.5em;
  overflow: hidden;
}

.grid-item .item-content p:nth-child(1){
  margin-top: 0.5em;
  font-weight: lighter;
}

.grid-item .item-actions {
  font-size: 1em;
  transition: var(--fast-transition);
}

.grid-item .item-actions:hover {
  font-size: 1.5em;
  transition: var(--fast-transition);
}

.grid-item .archive {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: auto;
}

.grid-item .edit {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
}

.grid-item .remove {
  grid-column: 3/4;
  grid-row: 2/3;
  margin: auto;
}

.grid-item .editInput {
  margin-top: -0.5em;
  width: 90%;
  display: block;
  margin-right: auto;
}

/* Archive */

.divider {
  border-top: 2px solid #f2f2f2;
  margin: 25px 25px 10px 25px;
}

.archive-section {
  margin: 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.section-title {
  font-weight: bold;
  margin-top: 1em;
  margin: 25px;
}

/* Menu */

.overlay {
  height: 100%;
  width: 100%;
  z-index: 4;
  background-color: rgba(250, 204, 117, 0.8);
  position: absolute;
}

.side-menu {
  height: 100vh;
  width: 30vw;
  background-color:#fcf5e8;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: var(--fast-transition);
  color: var(--main-color);
  text-align: center;
}

.side-menu h1 {
  margin-top: 2em;
}

.close-menu {
  position: absolute;
  top: 1em;
  right: 1em;
}

.menu-content {
  text-align: center;
  margin-top: 1em;
  font-size: 1.3em;
}

.menu-content a {
  text-decoration: none;
  color: var(--main-color);
}

.menu-link {
  padding: 10px;
}

.menu-link:hover {
  background-color: #ffc963;
  color: white;
}

.show-menu {
  transform: translateX(0);
  transition: var(--fast-transition);
}

.not-menu {
  position: relative;
}

/* Interactive classes */
.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* Responsive grid */

@media screen and (max-width: 899px) {
  .main-grid, .archive-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .side-menu {
    width: 50vw;
  }
}

@media screen and (max-width: 499px) {
  .main-grid, .archive-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .side-menu {
    width: 100vw;
  }
}
